{% extends 'base.html.twig' %}

{% block title %}Archives{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1 class="text-center mb-3">Voici la liste des concerts déjà passés :</h1>
        </div>
    </div>
    <div class="row mt-5">
        {% for year, archive in concerts %}
            <h1>{{ year }} :</h1>
            {% for concert in archive %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h1>{{ concert.tourname }}</h1>
                            <p class="card-text">Groupe{{ concert.band.name }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <p>Date : {{ concert.date | date("d/m/Y") }}</p>
                            <hr>
                            <p>Adresse : {{ concert.hall.address }}, {{ concert.hall.city }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
